<div class="container">
  <div class="row">
    <div class="pull-right col-md-4 padding">
      {{#if user}}
        <h4>Hello, {{user.name}}</h4>
      {{/if}}
      {{#unless user}}
        {{#link-to 'register' class="btn btn-primary"}}register{{/link-to}}&nbsp;
        {{#link-to 'login' class="btn btn-primary"}}login{{/link-to}}
      {{/unless}}
    </div>
    <div class="col-md-8">
      <h1>Welcome to EmberNote</h1>
    </div>
  </div>
  <div class="row padding">
    <div>
      {{outlet}}
    </div>
  </div>
</div>
